body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e8f5fc;
  padding: 1rem;
  color: #699ab6;
}

.calculator {
  padding: 32px 24px;
  width: 240px;
  background-color: #e8f5fc;
  box-shadow: 6px 6px 10px rgba(164, 216, 243, 0.5), -6px -6px 10px rgba(255, 255, 255, 0.6);
  border-radius: 16px;
}

.calculator__screen {
  text-align: right;
  padding: 12px 8px;
  border-radius: 6px;
  background-color: #e3f3fb;
  box-shadow: inset 6px 6px 10px rgba(164, 216, 243, 0.5), inset -6px -6px 10px rgba(255, 255, 255, 0.6);
  margin-bottom: 24px;
}

.calculator__operation {
  margin: 0 0 8px 0;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 2px;
}

.calculator__result {
  font-size: 24px;
  margin: 0;
  font-weight: 600;
  color: #6b8afa;
  letter-spacing: 2px;
}

.calculator__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.calculator__buttons .btn {
  background-color: #e8f5fc;
  box-shadow: 6px 6px 10px rgba(164, 216, 243, 0.5), -6px -6px 10px rgba(255, 255, 255, 0.6);
  border: none;
  border-radius: 100%;
  cursor: pointer;
  user-select: none;
  outline: none;
  color: #699ab6;
  font-weight: 500;
  width: 44px;
  height: 44px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator__buttons .btn.highlight {
  color: #6b8afa;
  font-weight: bold;
}

.calculator__buttons .btn:hover {
  background-color: #dff1fb;
}

.calculator__buttons .btn:focus {
  box-shadow: 6px 6px 10px rgba(164, 216, 243, 0.5), -6px -6px 10px rgba(255, 255, 255, 0.6), inset 6px 6px 10px rgba(164, 216, 243, 0.5), inset -6px -6px 10px rgba(255, 255, 255, 0.6);
}

.calculator__buttons .btn:active:focus {
  box-shadow: inset 6px 6px 10px rgba(164, 216, 243, 0.5), inset -6px -6px 10px rgba(255, 255, 255, 0.6);
}

.calculator__buttons .btn.equal {
  background-color: #6b8afa;
  color: white;
  box-shadow: 3px 11px 25px rgba(48, 91, 248, 0.6), -6px -6px 10px rgba(255, 255, 255, 0.6), inset -3px -3px 14px rgba(255, 255, 255, 0.2), inset 8px 8px 14px rgba(48, 91, 248, 0.5);
  grid-row-start: span 2;
  grid-column-start: 4;
  border-radius: 50px;
  width: 98px;
}

.calculator__buttons .btn.equal:hover {
  background-color: #5277f9;
}

.calculator__buttons .btn.equal:focus {
  box-shadow: 3px 11px 25px rgba(8, 60, 247, 0.6), -6px -6px 10px rgba(255, 255, 255, 0.9), inset 3px 11px 15px rgba(8, 60, 247, 0.5), inset -6px -6px 8px rgba(206, 216, 253, 0.5);
}

.calculator__buttons .btn.equal:active:focus {
  box-shadow: 3px 11px 25px rgba(8, 60, 247, 0.6), -6px -6px 10px rgba(255, 255, 255, 0.9), inset 3px 11px 15px rgba(8, 60, 247, 0.5), inset -6px -6px 8px rgba(206, 216, 253, 0.5);
}

.calculator__buttons .btn.equal:focus.highlight {
  color: #6b8afa;
}

.calculator__buttons .btn.equal:active:focus.highlight {
  color: #6b8afa;
}

.calculator__buttons:last-child .btn:last-child {
  visibility: hidden;
  display: none;
}
